*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Montserrat;
    src: url('FontFamily/Montserrat/Montserrat-Black.ttf');
}
@font-face {
    font-family: Open Sans;
    src: url('FontFamily/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf');
}
html::-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-width: none;
    -ms-overflow-style: none; 
}
body, button{
    background-color: #ddd5d0;
    color: black;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 500;
}
.Head{
    height: 50px;
    border-bottom: 6px solid #586f6b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NamePR{
    font-family: 'Motserrat';
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 900;
}
.Buttons{
    height: 100px;
    border-bottom: 6px solid #586f6b;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.button1, .button2, .button3{
    color: black;
    background-color: #b8b8aa;
    border: none;
    border-radius: 15px;
    margin: 80px;
    padding: 20px;
    text-align: center;
    min-width: 300px;
    text-decoration: none;
    cursor: pointer;
}
.button1{
    right: 10px;
}
.button3{
    right: 10px;
}
.button1:visited, .button2:visited, .button3:visited{
    color: black;
}
.Back_button{
    margin-right: auto;
    margin-left: 20px;
    height: 70px;
    transition: filter 0.3s ease;
}
.Back_button:hover img {
    filter: invert(1);
}
.button_FIO{
    cursor: pointer;
    width: 300px;
    height: 60px;
    margin: 20px;
    background-color: #b8b8aa;
    border-radius: 15px;
    border-color: #b8b8aa;
}

.columns {
    overflow-y: auto;
    display: flex;
    border: 6px solid #586f6b;
    border-radius: 30px;
    margin: 8px;
    margin-top: 15px;
    box-sizing: border-box; 
    height: 800px;
}
.info, #Count{
    flex-shrink: 0;
    margin: 10px;
    margin-top: 40px;
    height: 700px;
    width: 350px;
    border: black solid 2px;
}
#Count{
    background-color: #b8b8aa;
    transition: background-color 0.2s ease;
}
#Count:hover{
    background-color: #586f6b;
}
.pole{
    height: 70px;
    width: 350px;
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.pole:disabled{
    color: black;
    cursor: default;
}
.J_tirle,.fio{
    display: flex;
    align-items: center;
}
.button_removeFIO,.button_remove{
    right: 0;
    border: none;
    color: #A60000;
    margin-right: 10px;
    cursor: pointer;
}
.button_remove{
    top: 0;
    color:#b8b8aa;
}
/* ------------------Страничка employe------------------*/
.employee {
    margin: 0;
    width: 100%;
    height: auto;
    border: black 2px solid;
    padding: 10px;
    box-sizing: border-box;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    
}
.humans, .button_EM {
    width: 450px; 
    height: 400px;
    margin-left: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    border: red 1px solid;
}
.Hum_pole {
    color: black;
    width: 100%; 
    margin: 0; 
    padding: 10px;
    box-sizing: border-box;
    border: black 2px solid;
    text-align: center;
}
.button_EM{
    border: green 1px solid;
    cursor: pointer;
}